
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> IDES ###
/.idea/
/.vscode/
###< IDES ###

###> node and bun modules ###
/node_modules/
###< node and bun modules ###

###> Cypress ###
/cypress/screenshots/
/cypress/videos/
/cypress/reports/
###< Cypress ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
/assets/Rec/
